
/* ------ Geral ------ */

body 
{ 
	font-family: "Maven Pro", "Verdana", "Tahoma", "Sans-Serif";
}

/* ------ Menu ------ */

#menu
{
	background:#e4e4e4;
}

#menu li a:hover,
#menu li a:focus,
#menu li a:active
{
	background: #FFFFFF;
	text-decoration: none;
}

/* ------ Cabeçalho ------ */

#cabecalho
{	
	margin-top:50px;
	padding: 0px 0px 10px 0px;
	background-color:#7ed3f6;
}

#cabecalho h2
{
	color:#FFFFFF;
}

/* ------ Main ------ */

.main
{
	margin:40px 0px 40px 0px;
}

/* ------ Botões ------ */

.botoes
{
	margin-top:25px;
}

/* ------ Modais ------ */

.modal
{
	margin-top:10px;
}

.modal-body
{
	padding:0px;
}

iframe
{
	padding:0px;
	height:450px; 
	width:100%;
	border:0px;
}

.window
{
	padding:20px;
}

#opcoes
{	
	margin-top:10px;
	margin-bottom:10px;
}


/* ------ Edição ------ */

#edicao input,
#edicao select,
#edicao .obs
{
	margin-bottom:20px;
}

/* ------ rodapé ------ */

#rodape
{ 
	padding:20px 0px 30px 0px;
	background-color:#d8d8d8;	
	height:auto;
}	

#rodape img
{
	height:35px;
	width:35px;
	margin-top:10px;
}

#rodape img:hover
{
	opacity:0.45;
}
